
<div class="android-more-section">
  <div class="android-section-title mdl-typography--display-1-color-contrast">Noticias</div>
  <div class="android-card-container mdl-grid">
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media">
        <img src="/assets/noti.jpg" height="200">
      </div>
      <div class="mdl-card__title">
         <h4 class="mdl-card__title-text">Diresa de Puno:</h4>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">Realizara foro regional y campaña de atencion integral para discapacitados.</span>
      </div>
      
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media">
        <img src="/assets/noti1.jpg" height="200">
      </div>
      <div class="mdl-card__title">
         <h4 class="mdl-card__title-text">Diresa de Puno</h4>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">Disminuyen casos de infecciones respiratorias agudas en niños menores de 5 años en comparación al 2017</span>
      </div>
      
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media">
        <img src="/assets/noti2.jpg" height="200">
      </div>
      <div class="mdl-card__title">
         <h4 class="mdl-card__title-text">Diresa de Puno:</h4>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">Realizan taller de fortalecimiento de capacidades para promover la inclusión social.</span>
      </div>
      
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__title">
            <div class="android-section-title mdl-typography--display-1-color-contrast">Campaña</div>
         </div>
      <div class="mdl-card__media">
        
        <iframe style="border: none; overflow: hidden;" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fdiresapuno.gob.pe%2Fvideos%2F214471082492841%2F&amp;show_text=0&amp;width=560" width="560" height="315" frameborder="0" scrolling="no" allowfullscreen="allowfullscreen"></iframe>
      </div>
      
      
      
    </div>
  </div>
</div>