
<footer id="con-f">
    <div id="con-b">
        <div class="row">
          <div class="col">
          <p style="text-align: center;" id="fut">Dirección Regional de Salud Puno - Jr. José Antonio Encinas N 145 Puno - Perú<br>Teléfono 1: 051-369609, E-mail: info@diresapuno.gob.pe</p>
          </div>
        </div>
      </div>
     
    <div class="row" id="can">
      <div class="col">
        <p id ="fut">Copyright © DIRESA Puno. Estadística e Informática y Telecomunicaciones.</p>
      </div>
    </div>
  </footer>
