<section id="con-c" class="conu">
  <div class="row">
    <div class="col">
      <div class="pgs">
        <h4 class="pgs_title">Misión y Visión</h4>
        <div class="pgs_cont">
            <div class="row">
              <div class="col md-3 ta-c">
                <img src="/assets/icono1.png" alt="" width="100" height="100">
              </div>
              <div class="col md-9">
                <h3>Misión</h3>
                <p>"Somos una organización de salud con competencias y cultura de valores que garantiza la Atención Integral de Salud con Eficiencia y Eficacia en respuesta a las necesidades de la población, para mejorar el nivel de salud con participación activa de los actores sociales".</p>
              </div>
            
              <div class="col md-3 ta-c">
                <img src="/assets/icono2.png" alt="" width="100" height="100">
              </div>
              <div class="col md-9">
                <h3>Visión</h3>
                <p>"Ser una organización de salud líder a nivel sur del país, en el desarrollo integral de la Población, con una gestión sanitaria con: equidad, calidad, transparente, eficacia, con un potencial humano identificado en el que hacer sanitario".</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>