<section id="con-c" class="conu">
  <div class="row">
    <div class="col">
      <div class="pgs">
        <h4 class="pgs_title">DIRECTORIO DE FUNCIONARIOS DE LA DIRECCION REGIONAL DE SALUD PUNO</h4>
        <div class="pgs_cont"><div>
              <ul class="list _ev m-8">
              <li class="list-itm">
              <p><strong>DIRECTOR GENERAL:<br> </strong><strong>Dr.&nbsp;JORGE ENRIQUE SOTOMAYOR PERALES</strong></p>
              <p>Teléfono Fijo: 051 – 369609&nbsp;&nbsp;&nbsp; Fax: 051-369609<br> Celular Institucional :950828838<br> Correo Electrónico:</p>
              </li>
              <li class="list-itm">
              <p><strong>SUB-DIRECTOR GENERAL:<br> </strong><strong>Dr.&nbsp;FREDY PASSARA ZEVALLOS</strong></p>
              <p>Teléfono Fijo: 051 – 369609&nbsp;&nbsp; – Fax: 051-369609<br> Celular&nbsp; Institucional: &nbsp; 950828848<br> Correo Electrónico:&nbsp;</p>
              </li>
              <li class="list-itm">
              <p><strong>COMUNICACIONES<br> Lic. Adm. GILBERTO JAEN BALDARRAGO</strong><br> TELEFONO:<br> Celular&nbsp; Institucional: &nbsp;&nbsp;950042121<br> Correo Electronico: gjaen@diresapuno.gob.pe</p>
              </li>
              <li class="list-itm">
              <p><strong>OFICINA&nbsp;DE ASESORIA JURIDICA<br> </strong><strong>Abog.&nbsp;<strong>VICTOR&nbsp; MANUEL SAAVEDRA AGUILAR</strong></strong><br> TELEFONO: 051-369609<br> Celular Institucional:&nbsp;&nbsp;950828722<br> Correo electronico: vsaavedra@diresapuno.gob.pe</p>
              </li>
              <li class="list-itm">
              <p><strong>OFICINA&nbsp;DE DEFENSORIA DE LA SALUD<br> TAP&nbsp;JESUS ARIAS CACERES</strong><br> TELEFONO: 051-369609<br> Celular&nbsp; Institucional: &nbsp; 950828815<br> Correo Electronico:</p>
              </li>
              <li class="list-itm">
              <p><strong>OFICINA DE CONTROL INSTITUCIONAL:<br> CPC.&nbsp;VICTOR MARCELINO RODRIGUEZ PINEDA<br> </strong>Teléfono Fijo:<strong><br> </strong>Celular Institucional: 950828809<br> Correo Electrónico :&nbsp;mrodriguez@diresapuno.gob.pe</p>
              </li>
              <li class="list-itm">
              <p><strong>DIRECCION EJECUTIVA DE SALUD AMBIENTAL:</strong><strong><br>Med. BELINDA HUANCAPAZA ONOFRE<br> </strong>Teléfono Fijo:<br> Celular&nbsp; Institucional:&nbsp;950828813<br> Correo Electrónico:</p>
              </li>
              <li class="list-itm">
              <p><strong>DIRECCION EJECUTIVA DE EPIDEMIOLOGIA Y CONTROL DE EMERGENCIAS</strong><strong><br>* Lic. Antonieta FIGUEROA RAMOS</strong><br> Teléfono Fijo: 051 – 369452<br> Celular Institucional: 950828816<br> Correo Electrónico: pcasaperalta@diresapuno.gob.pe</p>
              </li>
              <li class="list-itm">
              <p><strong>AREA FUNCIONAL DE ANALISIS Y CONTROL EPIDEMIOLOGICO<br> Med. FREDY PASSARA ZEBALLOS<br> </strong>Teléfono:<br> Celular Particular: 944639881<br> Correo Electrónico: fpassara@diresapuno.gob.pe</p>
              </li>
              <li class="list-itm">
              <p><strong>AREA FUNCIONAL DE PREVENCION Y CONTROL DE EMERGENCIAS Y DESASTRES:<br> Lic. DIONICIA UBALDINA MALDONADO ZANABRIA</strong><br> Teléfono Fijo: 051-351458,<br> Celular Particular: 951796763<br> Correo Electrónico: dmaldonado@diresapuno.gob.pe</p>
              </li>
              <li class="list-itm">
              <p><strong>DIRECCION EJECUTIVA DE PROMOCION DE LA SALUD<br>Lic. MIRIAM CHEVARRIA&nbsp;CACALLACA<br> </strong>Teléfono Fijo:<br> Celular Particular:<br> Correo Electrónico :</p>
              </li>
              <li class="list-itm">
              <p><strong>DIRECCION EJECUTIVA DE SALUD DE LAS PERSONAS<br> </strong><strong>Med.&nbsp;JUAN CARLOS MENDOZA VELASQUEZ<br> </strong>Teléfono Fijo: 051-352751,<br> Celular Institucional: 850828814<br> Celular Particular:<br> Correo Electrónico: jmendoza@diresapuno.gob.pe</p>
              </li>
              <li class="list-itm">
              <p><strong>AREA FUNCIONAL DE SALUD OCUPACIONAL<br> Med. LUIS RAMIREZ ATENCIO<br> </strong>Teléfono Fijo:<br> Celular Particular: 952809649<br> Correo Electrónico: lramirez@diresapuno.gob.pe</p>
              </li>
              <li class="list-itm">
              <p><strong>AREA FUNCIONAL DE ATENCION INTEGRAL DE LA SALUD:<br> C.D.&nbsp;FERMIN ANTONIO OLOZABAL CHAYÑA<br> </strong>Teléfono Fijo:<br> Celular Particular: 951749229<br> correo electrónico: folazabal@diresapuno.gob.pe</p>
              </li>
              <li class="list-itm">
              <p><strong>AREA FUNCIONAL DE ASEGURAMIENTO PUBLICO<br>*. Med. Evelyn Paola CHOQUE CHAVEZ&nbsp;<br></strong>Teléfono Fijo: 051 – 365303,<br> Celular Particular:<br> correo electrónico:</p>
              </li>
              <li class="list-itm">
              <p><strong>AREA FUNCIONAL DE CALIDAD EN SALUD<br> C.D. JUAN CARLOS FRANCO BARRIGA<br> </strong>Teléfono Fijo:<br> Celular Particular: 951538113<br> Correo Electrónico personal: jufraba.jcfb@gmail.com&nbsp;</p>
              </li>
              <li class="list-itm">
              <p><strong>AREA FUNCIONAL DE EQUIPAMIENTO Y DESARROLLO TECNOLOGICO EN SALUD<br> Med. JUAN CARLOS MENDOZA<br> </strong>Teléfono Fijo:<br> Celular Particular: 951303219<br> Correo Electrónico:&nbsp;jmendoza@diresapuno.gob.pe</p>
              </li>
              <li class="list-itm">
              <p><strong>DIRECCION EJECUTIVA DE MEDICAMENTOS, INSUMOS Y DROGAS<br>Q.F.&nbsp;MARIA NELLY YUPANQUI AZA<br> </strong>Teléfono Fijo: 051 – 364225,<br> Celular Institucional: 950828817<br> Correo Electrónico:</p>
              </li>
              <li class="list-itm">
              <p><strong>DIRECCION DE LABORATORIO REFERENCIAL DE SALUD PUBLICA:<br> BLGO. REYNADO BORDA SUCASACA<br> </strong>Teléfono Fijo: 051 – 351519,<br> Celular Particular:&nbsp;951821831<br> Correo Electrónico: farias@diresapuno.gob.pe</p>
              </li>
              <li class="list-itm">
              <p><strong>OFICINA EJECUTIVA DE ADMINISTRACION:</strong><strong><br>Lic.&nbsp;ALIPIO ARNULFO CALLA GOMEZ<br> </strong>Teléfono Fijo: 051- 368659,<br> Celular Institucional: 951992220<br> Celular particular: rey_borda@hotmail.com<br> Correo Electrónico:</p>
              </li>
              <li class="list-itm">
              <p><strong>AREA FUNCIONAL DE LOGISTICA:<br>Tec.&nbsp;WILMER JORGE CHAVEZ ALIAGA<br> </strong>Teléfono Fijo: 051 – 351513,<br> Celular Institucional: 950828878<br> Correo Electrónico:</p>
              </li>
              <li class="list-itm">
              <p><strong>AREA FUNCIONAL DE CONTABILIDAD:<br> CPC. PRISCILIANO DANIEL CASTILLO HERRERA<br> </strong>Teléfono Fijo: 051 – 366032,<br> Celular Institucional: 950828806<br> Celular personal:<br> Correo Electrónico:&nbsp;pcastillo@diresapuno.gob.pe</p>
              </li>
              <li class="list-itm">
              <p><strong>AREA FUNCIONAL DE TESORERIA:<br> CPC.&nbsp;JUSTINA CONDORI QUISPE<br> </strong>Teléfono:<br> Celular Institucional: 950828805<br> Celular Particular:<br> Correo Electrónico:&nbsp;jcondori@diresapuno.gob.pe</p>
              </li>
              <li class="list-itm">
              <p><strong>AREA FUNCIONAL DE SERVICIOS GENERALES Y MANTENIMIENTO:<br> TAP.&nbsp;TEOBALDO&nbsp;<br> </strong>Teléfono:<br> Correo Electrónico :&nbsp;vasqui@diresapuno.gob.pe</p>
              </li>
              <li class="list-itm">
              <p><strong>AREA FUNCIONAL DE TRAMITE DOCUMENTARIO:<br> TAP. DINA BARRIGA BERMEJO<br> </strong>Teléfono:<br> Celular<br> Correo Electrónico:&nbsp;dbarriga@diresapuno.gob.pe</p>
              </li>
              <li class="list-itm">
              <p><strong>OFICINA EJECUTIVA DE RECURSOS HUMANOS:</strong><strong><br>Lic.&nbsp;SEVERO LAURA MAMANI<br> </strong>Teléfono:<br> Celular Institucional: 950828807<br> Correo Electrónico: selama56@hotmail.com</p>
              </li>
              <li class="list-itm">
              <p><strong>OFICINA DE ESTADISTICA, INFORMATICA Y TELECOMUNICACIONES:<br> </strong><strong>Ing. EDSON ALBERTO CUENTAS ARENAS<br> </strong>Teléfono Fijo:<br> Celular Institucional: 950828760<br> Correo Electrónico: ecuentas@diresapuno.gob.pe</p>
              </li>
              <li class="list-itm">
              <p><strong>OFICINA EJECUTIVA DE PLANEAMIENTO Y PRESUPUESTO<br> Dr. EDGAR MANUEL HITO MONTAÑO<br> </strong>Teléfono: 051- 354052,<br> Celular Institucional: 950828803<br> Correo Electrónico:</p>
              </li>
              <li class="list-itm">
              <p><strong>AREA FUNCIONAL DE ORGANIZACIÓN<br> Lic. VICTOR HUGO QUINTANA PACCO<br> </strong>Teléfono: 051- 354052<br> Celular Particular: 651671961<br> Correo Electrónico: vquintana@diresapuno.gob.pe</p>
              </li>
              <li class="list-itm">
              <p><strong>AREA FUNCIONAL DE PLANEAMIENTO:<br> Lic. MARTHA GORDILLO CASTRO<br> </strong>Teléfono Fijo: 051- 354052<br> Celular Institucional:950828803<br> Correo Electrónico:&nbsp;mgordillo@diresapuno.gob.pe</p>
              </li>
              <li class="list-itm">
              <p><strong>AREA FUNCIONAL DE PROYECTOS:<br> Ing.&nbsp;AURELIO RIOS PINEDA<br> </strong>Teléfono Fijo: 051- 354052<br> Celular Particular: 951628880<br> Correo Electrónico:&nbsp;arios@diresapuno.gob.pe</p>
              </li>
              <li class="list-itm">
              <p><strong>AREA FUNCIONAL DE FINANCIAMIENTO:<br> Ing.&nbsp;REYNALDO FLORES ACERO<br> </strong>Teléfono Fijo: 051- 354052<br> Celular Institucional: 950828825<br> Correo Electrónico:&nbsp;rflores@diresapuno.gob.pe</p>
              <p>&nbsp;</p>
              </li>
              </ul>
              <h4>DIRECTORIO DE TELEFONOS FIJOS&nbsp;POR DIRECCION/OFICINA</h4>
              <table class="table">
              <thead>
              <tr class="ta-c">
              <td>DIRECCION Y/O OFICINA</td>
              <td>TELEFONO-FIJO</td>
              </tr>
              </thead>
              <tbody>
              <tr>
              <td>DIRECCION GENERAL DIRESA</td>
              <td>051-369609</td>
              </tr>
              <tr>
              <td>DIRECCION DE ADMINISTRACION</td>
              <td>051-368658</td>
              </tr>
              <tr>
              <td>OFICINA DE LOGISTICA</td>
              <td>051-351513</td>
              </tr>
              <tr>
              <td>OFICINA DE CONTABILIDAD</td>
              <td>051-366032</td>
              </tr>
              <tr>
              <td>DIRECCION EJECUTIVA DE RECURSOS HUMANOS</td>
              <td>051-352171</td>
              </tr>
              <tr>
              <td>ASEGURAMIENTO PUBLICO</td>
              <td>051-365303</td>
              </tr>
              <tr>
              <td>DIRECCION EJECUTIVA DE PLANEAMIENTO Y PRESUPUESTO</td>
              <td>051-354052</td>
              </tr>
              <tr>
              <td>DIRECCION EJECUTIVA DE SALUD DE LAS PERSONAS</td>
              <td>051-352751</td>
              </tr>
              <tr>
              <td>DIRECCION EJECUTIVA DE SALUD AMBIENTAL</td>
              <td>051-364838</td>
              </tr>
              <tr>
              <td>DIRECCION EJECUTIVA DE EPIDEMIOLOGIA</td>
              <td>051-369452</td>
              </tr>
              <tr>
              <td>DIRECCION EJECUTIVA DE MEDICAMENTOS, INSUMOS Y DROGAS</td>
              <td>051-364225</td>
              </tr>
              <tr>
              <td>OFICINA&nbsp;DE CONVENIOS</td>
              <td>051-351853</td>
              </tr>
              </tbody>
              </table>
              <p>&nbsp;</p>
              <h4>DIRECTORIO DE CELULARES OFICIALES POR DIRECCION/OFICINA</h4>
              <table class="table">
              <thead>
              <tr class="ta-c">
              <td>DIRECCION Y/O OFICINA</td>
              <td>N° DE CELULAR</td>
              </tr>
              </thead>
              <tbody>
              <tr>
              <td><strong>DIRECCION GENERAL</strong></td>
              <td><strong>950-828838</strong></td>
              </tr>
              <tr>
              <td><strong>SUB-DIRECCION</strong></td>
              <td><strong>950-828848</strong></td>
              </tr>
              <tr>
              <td><strong>SECRETARIA GENERAL</strong></td>
              <td><strong>950-828823</strong></td>
              </tr>
              <tr>
              <td><strong>OF. ASESORIA LEGAL</strong></td>
              <td><strong>950-828722</strong></td>
              </tr>
              <tr>
              <td><strong>OF. DEFESORIA DE LA SALUD</strong></td>
              <td><strong>950-828815</strong></td>
              </tr>
              <tr>
              <td><strong>D.E. DE PLANEAMIENTO Y PRESUPUESTO</strong></td>
              <td><strong>950-828803</strong></td>
              </tr>
              <tr>
              <td>FINANCIAMIENTO</td>
              <td>950-828825</td>
              </tr>
              <tr>
              <td><strong>D.E. DE ADMINISTRACION</strong></td>
              <td><strong>950-828862</strong></td>
              </tr>
              <tr>
              <td>TESORERIA</td>
              <td>950-828805</td>
              </tr>
              <tr>
              <td>CONTABILIDAD</td>
              <td>950-828806</td>
              </tr>
              <tr>
              <td>LOGISTICA</td>
              <td>950-828878</td>
              </tr>
              <tr>
              <td>SERVICIOS GENERALES</td>
              <td>950-828824</td>
              </tr>
              <tr>
              <td>ADQUISICIONES</td>
              <td>950-828870</td>
              </tr>
              <tr>
              <td>PORTERIA</td>
              <td>950-828820</td>
              </tr>
              <tr>
              <td><strong>D.E. DE RECURSOS HUMANOS</strong></td>
              <td><strong>950-828807</strong></td>
              </tr>
              <tr>
              <td>REMUNERACIONES</td>
              <td>950-828821</td>
              </tr>
              <tr>
              <td><strong>D.E. DE EPIDEMIOLOGIA</strong></td>
              <td><strong>950-828816</strong></td>
              </tr>
              <tr>
              <td>OF. ESTADISTICA, INFORMATICA Y TELECOMUNICACIONES</td>
              <td>950-828760</td>
              </tr>
              <tr>
              <td>OF. CONTROL INSTITUCIONAL</td>
              <td>950-828809</td>
              </tr>
              <tr>
              <td><strong>D.E. DE SALUD DE LAS PERSONAS</strong></td>
              <td><strong>950-828814</strong></td>
              </tr>
              <tr>
              <td><strong>D.E. DE SALUD AMBIENTAL</strong></td>
              <td><strong>950-828813</strong></td>
              </tr>
              <tr>
              <td><strong>D.E. DE MEDICAMENTOS, INSUMOS Y DROGAS</strong></td>
              <td><strong>950-828817</strong></td>
              </tr>
              <tr>
              <td>AISPED</td>
              <td>950-828819</td>
              </tr>
              </tbody>
              </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
