<section id="con-c" class="conu">
  <div class="row">
    <div class="col">
      <div class="pgs">
        <h4 class="pgs_title">Directorio DIRESA PUNO</h4>
        <div class="pgs_list">
          <p class="pgs_list_s"></p>
          <h5 class="ta-c">DIRECTORIO DE FUNCIONARIOS DE LA DIRECCION&nbsp;REGIONAL DE SALUD PUNO</h5>
            <div class="row p30">
            <h5 class="col md-3 ta-c">
              <strong>
                <img src="/assets/soto.png" alt="">&nbsp;
              </strong>
            </h5>
            <div class="box-foot col md-9">
            <div class="box-foot-h r10">
            <h5><strong>DIRECTOR GENERAL</strong></h5>
            </div>
            <div class="box-foot-b"><strong>Dr.&nbsp;JORGE ENRIQUE SOTOMAYOR PERALES</strong></div>
            <div class="box-foot-b">
              <p><strong>Teléfono Fijo:</strong> 051 – 369609&nbsp;&nbsp;&nbsp;<strong> Fax:</strong> 051-369609<br><strong>Celular Institucional:</strong> 950828838</p>
              <p><strong>Correo Electrónico:</strong></p>
              </div>
              </div>
              </div>
              <div class="row p30">
              <div class="col md-3 ta-c"><img src="/assets/fredy.png" alt="">&nbsp;</div>
              <div class="box-foot col md-9">
              <div class="box-foot-h r10">
              <h5><strong>SUB-DIRECTOR GENERAL:</strong></h5>
              </div>
              <div class="box-foot-b"><strong>Dr.&nbsp;FREDY PASSARA ZEVALLOS</strong></div>
              <div class="box-foot-b">
              <p><strong>Teléfono Fijo:</strong> 051 – 369609&nbsp;&nbsp; – <strong>Fax:</strong> 051-369609<br><strong>Celular Institucional:</strong> 950828838</p>
              <p><strong>Correo Electrónico:</strong></p>
              </div>
              </div>
              </div>
              <p></p>
              <div class="list _ev _ho m-8">
                <a href="/directorio-diresa/directorio-de-directores-de-las-redes-de-salud.html" class="list-itm">
                  <i class="i-filet"></i> DIRECTORIO DE DIRECTORES DE LAS REDES DE SALUD/HOSPITAL
                </a>
                <a href="/http://localhost:4200/diresa" class="list-itm">
                  <i class="i-filet"></i> DIRECTORIO DE FUNCIONARIOS DE LA DIRECCION REGIONAL DE SALUD PUNO
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>