<section id="con-c" class="conu">
  <div class="row">
    <div class="col">
      <div class="pgs">
        <h4 class="pgs_title">Aseguramiento Público</h4>
        <div class="pgs_cont">
          <div class="ta-c">
            <img src="/assets/orga.png" alt="">
          </div>
          <p>&nbsp;</p>
          <div class="list _ev _ho">
            <a class="list-itm" href="/http://ww3.diresapuno.gob.pe/web/uploads/Organigrama.pdf">
              <span class="ii-95">.</span> Organigrama
            </a>
          </div>
          <p>&nbsp;</p>
          <h5>INFORMES DE AFILIADOS:</h5>
          <div class="list _ev _ho">
            <a class="list-itm" href="/web/uploads/INFORME-AFILIADOS-2016-19-de-mayo-ENVIAR.xlsx.pdf">
              <span class="ii-95">.</span> INFORME AFILIADOS 2016 -19 de mayo
            </a> 
            <a class="list-itm" href="/web/uploads/INFORME-AFILIADOS-2016-19-de-mayo-ENVIAR.xlsx">
              <span class="ii-95">.</span> INFORME AFILIADOS 2016 -19 de mayo
            </a>
          </div>
          <p>&nbsp;</p>
          <h5>CONVENIOS CAPITA:</h5>
          <div class="list _ev _ho">
            <a class="list-itm" href="/web/uploads/1ra_adenda-CONVENIO-CAPITA.pdf">
              <span class="ii-95">.</span> 1ra_adenda CONVENIO CAPITA
            </a> 
            <a class="list-itm" href="/web/uploads/2da_adenda-CONVENIO-CAPITA.pdf">
              <span class="ii-95">.</span> 2da_adenda CONVENIO CAPITA
            </a> 
            <a class="list-itm" href="/web/uploads/3ra-Adenda-CONVENIO-CAPITA.pdf">
              <span class="ii-95">.</span> 3ra Adenda CONVENIO CAPITA
            </a> 
            <a class="list-itm" href="/web/uploads/Convenio-Capita-2013.pdf">
              <span class="ii-95">.</span> Convenio Capita 2013
            </a> 
            <a class="list-itm" href="/documentos/files?dow=d3phLDcsbDI~">
              <span class="ii-95">.</span> Convenio Capita 2014
            </a>
          </div>
          <p>&nbsp;</p>
          <h5>INDICADORES 2016 CONVENIO CAPITA:</h5>
          <div class="list _ev _ho">
            <a class="list-itm" href="/web/uploads/Indicadores-Convenio-Capita-2016-DIRESA-Puno.pdf">
              <em class="ii-95">.</em> indicadores-convenio-capita-2016-diresa-puno
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
